

/************************/
/* 	    COULEURS        */
/************************/

.primary {
	background-color: #FAD306;
}

.text-primary {
  color: #FAD306;	
}


.secondary {
	background-color: #94B4C4;
}

.text-secondary {
  color: #94B4C4;	
}

.dark {
	background-color: #7C7C7C;
}

.text-dark {
  color: #7C7C7C;	
}

.medium-light {
	background-color: #B4B4B4;
}

.text-medium-light {
  color: #B4B4B4;	
}

.light {
	background-color: #F4F4F4;
}

.text-light {
  color: #F4F4F4;	
}



/************************/
/* 	    TYPOGRAPHIE     */
/************************/


.h1 {
	font-family: Montserrat;
	font-size: 50px;
	color:#222;
}

.h2 {
	font-family: Montserrat;
	font-size: 45px;
	color:#222;
}

.h3 {
	font-family: Montserrat;
	font-size: 40px;
	color:#222;
}

.h4 {
	font-family: Montserrat;
	font-size: 35px;
	color:#222;
}

.h5 {
	font-family: Montserrat;
	font-size: 30px;
	color:#222;
}

.h6 {
	font-family: Montserrat;
	font-size: 25px;
	color:#222;
}

.p{
	font-family: Roboto;
	font-size: 20px;
	color:#222;
}

.lead{
	font-family: Roboto;
	font-weight: bold;
	font-size: 20px;
	color:#222;
}

.blockquote{
	font-family: Roboto;
	font-style: italic;
	font-size: 15px;
	color:#222;
}


.ul{ 
	list-style-position: inside;
    list-style-type: circle;
}

.ol{
	list-style-position: inside;
}

.li {
}


/************************/
/* 	    BOUTONS     */
/************************/

.btn{
	font-family: Arial;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
}

.btn-block {
	display: block;
    width: 100%;
}

.btn-primary {
	background-color: #10A3C5;
}

.btn-warning {
	background-color: #F8960F;
}

.btn-danger {
	background-color: #da4453;
}

.btn-info {
	background-color: #047C9C;
}
.btn-success {
	background-color: #449C6C;
}

.btn-outline-primary {
	background-color: #10A3C5;
}
.btn-outline-warning {
	background-color: #F8960F;
}
.btn-outline-danger {
	background-color: #da4453;
}
.btn-outline-info {
	background-color: #047C9C;
}
.btn-outline-success {
	background-color: #449C6C;
}

.btn-lg{
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}

.btn-sm{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
