

/************************/
/* 	    COULEURS        */
/************************/

.primary {
	background-color: #FAD306;
}

.text-primary {
  color: #FAD306;	
}


.secondary {
	background-color: #94B4C4;
}

.text-secondary {
  color: #94B4C4;	
}

.dark {
	background-color: #7C7C7C;
}

.text-dark {
  color: #7C7C7C;	
}

.medium-light {
	background-color: #B4B4B4;
}

.text-medium-light {
  color: #B4B4B4;	
}

.light {
	background-color: #F4F4F4;
}

.text-light {
  color: #F4F4F4;	
}



/************************/
/* 	    TYPOGRAPHIES    */
/************************/


.h1 {
	font-family: Montserrat;
	font-size: 50px;
	color:#222;
}

.h2 {
	font-family: Montserrat;
	font-size: 45px;
	color:#222;
}

.h3 {
	font-family: Montserrat;
	font-size: 40px;
	color:#222;
}

.h4 {
	font-family: Montserrat;
	font-size: 35px;
	color:#222;
}

.h5 {
	font-family: Montserrat;
	font-size: 30px;
	color:#222;
}

.h6 {
	font-family: Montserrat;
	font-size: 25px;
	color:#222;
}

.p{
	font-family: Roboto;
	font-size: 20px;
	color:#222;
}

.lead{
	font-family: Roboto;
	font-weight: bold;
	font-size: 20px;
	color:#222;
}

.blockquote{
	font-family: Roboto;
	font-style: italic;
	font-size: 15px;
	color:#222;
}


.ul{ 
	list-style-position: inside;
    list-style-type: circle;
}

.ol{
	list-style-position: inside;
}

.li {
}


/************************/
/* 	    BOUTONS     */
/************************/

.btn{
	font-family: Arial;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
}

.btn-block {
	display: block;
    width: 100%;
}

.btn-primary {
	background-color: #10A3C5;
}

.btn-warning {
	background-color: #F8960F;
}

.btn-danger {
	background-color: #da4453;
}

.btn-info {
	background-color: #047C9C;
}
.btn-success {
	background-color: #449C6C;
}

.btn-outline-primary {
	background-color: transparent;
	color: #10A3C5;
	border-color: #10A3C5;
}

.btn-outline-primary:hover {
	background-color: #10A3C5;
	color: white ;
}

.btn-outline-warning {
	background-color: transparent;
	color: #F8960F;
	border-color:  #F8960F;
}
.btn-outline-warning:hover {
	background-color: #F8960F;
	color: white ;
}

.btn-outline-danger {
	background-color: transparent;
	color: #da4453;
	border-color: #da4453;
}

.btn-outline-danger:hover {
	background-color: #da4453;
	color: white ;
}

.btn-outline-info {
	background-color: transparent;
	color: #047C9C;
	border-color: #047C9C;
}
.btn-outline-info:hover {
	background-color: #047C9C;
	color: white ;
}

.btn-outline-success {
	background-color: transparent;
	color: #449C6C;
	border-color: #449C6C;
}
.btn-outline-success:hover {
	background-color: #449C6C;
	color: white ;
}

.btn-lg{
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}

.btn-sm{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}



/************************/
/* 	      ICONES        */
/************************/


  .fa-fish {
  	color: #ACACB4;
  	font-size: 3em
  }

  .fa-frog {
  	color: green;
  	font-size: 3em;
  }

  .fa-bread-slice {
  	color: #CCAC94;
  	font-size: 3em;
  }

  .fa-apple-alt{
  	color: #CC2C2C;
  	font-size: 3em;
  }

  .fa-drumstick-bite{
  	color: #744424;
  	font-size: 3em;
  }
  .fa-cheese{
  	color: #FCBB04;
  	font-size: 3em;
  }



/************************/
/* 	    FORMULAIRES     */
/************************/


.form-control{
	width: 80%;
	height: 34px;
	font-size: 14px;
	background-color: #fff;
	border-radius: 4px;
	color: #434a54;
	border-color: #aab2bd;
	border: 1px solid #ccc;
	font-family: Arial;
}

.form-group{
	width: 40%;
}

.container {
  font-family: Arial;
}

.form-check .form-check-label {
  font-family: Arial;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: color .3s linear;
}


.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item-action {
    width: 60%;
    color: #495057;
    text-align: inherit;
}

.d-flex-row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

